<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660864118571-or486r50nd2ciinip6n27dn196omevrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660864118571-or486r50nd2ciinip6n27dn196omevrb</string>
	<key>API_KEY</key>
	<string>AIzaSyArgszUZngD4YSEVLkhkJE5bvP9Na79tdk</string>
	<key>GCM_SENDER_ID</key>
	<string>660864118571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eleven.goTrucking</string>
	<key>PROJECT_ID</key>
	<string>gotrucking-5a990</string>
	<key>STORAGE_BUCKET</key>
	<string>gotrucking-5a990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660864118571:ios:97ee0d17b8995e8bc75f6e</string>
</dict>
</plist>